.info-aluno {
  width: 100%;
  display: flex;
  padding-block: 6vh;
  justify-content: space-around;
}
.aluno {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  box-shadow: 0px 0px 10px rgb(98, 98, 98);
  /* background-color: aqua; */
}
.aluno p {
  font-size: 1.1rem;
  text-shadow: 2px 5px 8px rgb(102, 101, 101);
  color: #3347b0;
}
.aluno img {
  width: 50%;
  border-radius: 50%;
}
.desempenho {
  width: 35%;
  height: 100%;
  padding-inline: 2%;
  display: flex;
  align-items: center;
  padding-block: 1.8%;
  box-shadow: 0px 0px 10px rgb(98, 98, 98);
}
.container-notas {
  display: grid;
  gap: 1.5vw;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
}
.nota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}
.numero {
  color: #3347b0;
  display: flex;
  align-items: top;
  justify-content: center;
  font-weight: 900;
  height: 10%;
}
.container-sombra {
  display: flex;
  height: 80%;
  align-items: end;
  width: 40%;
  background-color: rgb(231, 228, 225);
}
.container-cor {
  width: 100%;
  height: 70%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 10px #3347b0;
}
.materia {
  color: #3347b0;
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: 900;
  /* height: 10%; */
}
