.alunos {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.status {
  background-color: #bcc2e5;
  height: 50px;
  width: 100%;
}
.alunos h1 {
  font-size: 2.8rem;
  color: #3347b0;
}
.container-alunos {
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding-block: 5vh;
  width: 100%;
  columns: 5;
  padding-inline: 5vw;
  /* background-color: rgb(95, 78, 192); */
}
.card-aluno {
  cursor: pointer;
  width: 200px;
  height: 300px;
  background-color: #3347b0;
  display: flex;
  padding: 10px;
  gap: 2vh;
  text-align: center;
  box-shadow: 5px 5px 10px rgb(128, 124, 124);
  font-size: 1rem;
  color: white;
  flex-direction: column;
}
.card-aluno img {
  border-radius: 50%;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3347b0;
  font-weight: 600;
  padding-inline: 5vw;
}
.saber-status {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: #3347b0;
  font-weight: 600;
  cursor: pointer;
}
.legenda {
  display: flex;
  gap: 3.5vw;
}
.cursando {
  display: flex;
  gap: 0.5vw;
}
.container-azul {
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 5px black;
  background-color: #3347b0;
}

.finalizado {
  display: flex;
  gap: 0.5vw;
}
.container-amarelo {
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 5px black;
  background-color: #e5b657;
}
